$device: m-device !default;

.#{$device} {
  background: lighten($colour-black, 5%);
  border-radius: 32px;
  box-shadow: 0 1px 5px rgba($colour-black, 0.6),
    inset 0 0px 7px rgba($colour-black, 0.8);
  display: inline-block;
  height: 547px;
  position: relative;
  width: 259px;

  &--light {
    background: darken($colour-white, 5%);
  }

  &--landscape {
    transform: rotate(-90deg);
  }

  &__notch {
    background: lighten($colour-black, 5%);
    border-radius: 0 0 16px 16px;
    display: inline-block;
    height: 30px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    right: 0;
    top: 8px;
    width: 100px;
    z-index: 99;

    .#{$device}--light & {
      background: darken($colour-white, 5%);
    }
  }

  &__screen {
    background: $colour-white;
    bottom: 32px;
    border-radius: 25px 25px 16px 16px;
    left: 8px;
    position: absolute;
    right: 8px;
    top: 8px;
  }
}
