.a-lineBreak {
  background: $colour-black-dividers;
  display: block;
  height: 2px;
  margin: $global-spacing-quaternary auto;
  width: 125px;

  &::after {
    background: rgba($colour-black, 0.85);
    content: '';
    display: block;
    height: 2px;
    margin: 0 auto;
    width: 50px;
  }
}
