.u-text-align {
  &--center {
    text-align: center;

    &\@tablet {
      @include mq($from: tablet) {
        text-align: center;
      }
    }
  }

  &--right {
    text-align: right;

    &\@tablet {
      @include mq($from: tablet) {
        text-align: right;
      }
    }
  }

  &--justify {
    text-align: justify;
  }
}

.u-alignment {
  display: flex;

  &--center {
    justify-content: center;
  }

  &--right {
    justify-content: flex-end;
  }
}
