.u-text-align {
  &--center {
    text-align: center;
  }
  &--right {
    text-align: right;
  }
}

.u-alignment {
  display: flex;

  &--center {
    justify-content: center;
  }
  &--right {
    justify-content: flex-end;
  }
}
