
.c-header {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;

    @include mq($from: tablet) {
      flex-wrap: nowrap;
    }
  }

  &__logo {
    color: $colour-black-text;
    padding: $global-spacing-primary;
    text-decoration: none;

    @include mq($from: tablet) {
      padding: $global-spacing-tertiary $global-spacing-primary;
    }
  }

  &__nav {
    background: $colour-black;
    bottom: 0;
    border-radius: 6px 6px 0 0;
    left: 0;
    margin: 0 auto;
    max-width: 350px;
    position: fixed;
    right: 0;
    white-space: nowrap;
    z-index: 9999;

    @include mq($from: tablet) {
      background: none;
      bottom: auto;
      border-radius: 0;
      left: auto;
      margin: 0;
      max-width: 100%;
      position: static;
      right: auto;
    }

    ul {
      list-style: none;
      margin: 0;
      text-align: center;
    }

    li {
      display: inline-block;
    }

    a {
      color: $colour-white-text;
      display: inline-block;
      padding: $global-spacing-primary;
      text-decoration: none;
      transition: color ease-in-out .2s;

      &:hover {
        color: $colour-black;
      }

      @include mq($from: tablet) {
        color: $colour-black-text;
        padding: $global-spacing-tertiary $global-spacing-primary;
      }
    }
  }
}

