
.c-header {
  border-bottom: 1px solid $colour-black-dividers;

  .o-wrapper { position: relative; }

  &__logo {
    align-items: center;
    background: $colour-black;
    border-radius: 100%;
    bottom: 0;
    color: $colour-white-text;
    cursor: pointer;
    display: flex;
    font-weight: $global-font-medium;
    height: 50px;
    justify-content: center;
    left: $global-spacing-primary;
    margin-bottom: auto;
    margin-top: auto;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;
    width: 50px;

    &:hover {
      span { transform: rotate(0deg); }
    }

    span {
      font-size: 20px;
      transform: rotate(-40deg);
      transition: transform .2s linear;
    }
  }


  nav {
    text-align: right;
  }

  li,
  ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  // li { display: inline-block; }

  li a {
    color: $colour-black-text;
    display: block;
    font-weight: $global-font-light;
    padding: $global-spacing-quaternary $global-spacing-primary;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      &::after { background: $colour-black-text; }
    }

    &::after {
      bottom: -1px;
      content: '';
      display: block;
      height: 1px;
      left: 0;
      position: absolute;
      right: 0;
      transition: background .2s linear;
    }
  }
}

